*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.contact_banner{
    background-color: red;
}

.success_massages{
    background-color: lightgreen;
    padding: 1rem;
}
.error_massages{
    background-color: rgb(247, 133, 152);
    padding: 1rem;
}
.warning_massages{
    background-color: rgb(247, 218, 54);
    padding: 1rem;
}

.card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2rem;
}




/* error massages time out function class  */
.fade-out {
    opacity: 0;
    transition: opacity 1s ease-out;
}